.App {
  text-align: center;
}

.main-container {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 200px;
  padding-right: 200px;
  font-family: "Inter", sans-serif;
  font-size: 40px;
}
